<div class="container" style="padding-top: 40px">
    <div class="page-header"><h1>About</h1></div>
    <p>scribbled.in is a web application meant for collaboratively annotating academic documents.
        The web application is built using Node.js, Express, and a host of other web technologies.</p>

    <div class="ui three cards">
        <div class="card">
            <div class="image">
                <img src="/images/nodejs.png">
            </div>
            <div class="content">
                <div class="header">Node.js</div>
                <div class="content">
                    Single-threaded, asynchronous JS backend for massive paralellism.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="/images/expressjs.png">
            </div>
            <div class="content">
                <div class="header">Express.js</div>
                <div class="content">
                    Simple, unopinionated web framework.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="/images/bootstrap.png">
            </div>
            <div class="content">
                <div class="header">Bootstrap</div>
                <div class="content">
                    Responsive, mobile-first UI.
                </div>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="jumbotron">
        <h1>Learn about Node</h1>
        <p>Node.js was developed in order to allow developers to use JavaScript both on the backend
            and frontend of their websites.  It also allows for easy prototyping and rapid agile development.</p>
        <p><a class="btn btn-primary btn-lg" href="https://nodejs.org/en/" role="button">Learn more</a></p>
    </div>
</div>