<div class="container" style="padding-top: 50px">
    <p>
        I hate and I love. Perhaps you ask why I do this?<br>
        I do not know, but I feel it happen and I am torn apart.
    </p>
</div>