<div class="container" style="padding-top: 50px">
    <div class="ui cards">
        <div class="card">
            <div class="content">
                <div class="header">
                    Hamlet
                </div>
                <div class="description">
                    A play about procrastination by William Shakespeare.
                </div>
            </div>
            <div class="ui bottom attached button">
                Read Hamlet
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">
                    Kubla Khan
                </div>
                <div class="description">
                    A poem about a mystical land by Samuel Taylor Coleridge.
                </div>
            </div>
            <div class="ui bottom attached button">
                Read Kubla Khan
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">
                    Catullus 85
                </div>
                <div class="description">
                    A short poem by the early master of love.
                </div>
            </div>
            <div class="ui bottom attached button">
                <a href="/catullus">Read Catullus 85</a>
            </div>
        </div>
    </div>
</div>