<div class="container" style="padding-top: 50px">
    <div class="page-header"><h1>scribbled.in <small>a node.js app</small></h1></div>
    <p>scribbled.in is a tool that allows for the collaborative annotation of text documents. Imagine you're reading Shakespeare
        and you happen upon the word "forsooth."  As an English major, I  know what "forsooth" is, because my parents pay good money
        for me to know stuff like that.  But what if you're not an English major and you don't know about "forsooth?"</p>

    <p>That's where scribbled.in comes in.  After one person learns the meaning of "forsooth," they can go to the relevant
        Shakespeare play on scribbled.in and make a note on it.  (It means "indeed.")</p>

    <p>You can choose to view only your annotations, or you can view the annotations of others!  This collaborative aspect
        will increase knowledge and understanding of academic texts.</p>

    <img class="ui centered medium image" src="https://felt.co.nz/user-images/itemuploads/u1599/i346619/o.jpg">
</div>